*{
  margin: 0;
  padding: 0;
  color: rgb(255,255,220);
  text-decoration: none;
  font-family: 'Ubuntu Mono', monospace;
}

html{
  background: rgb(0,0,40);
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px; 10%;
}

.name{
  font-size: 17px;
  margin-right: auto;
  margin-left: 10px;
}

.links{
  list-style: none;
  text-decoration: none;
}

.links li{
  display: inline-block;
  padding: 0px 20px;
  font-size: 13px;
}
.links :hover{
  text-decoration: underline;
}

img{
  border-bottom: 0.5px white solid;
  border-top: 0.5px white solid;
}

.banner img{
  width: 100%;
  height: 400px;
}

.banner .text{
  position: absolute;
  top: 105px;
  left: 100px;
}

.text p{
  text-align: center;
  font-size: 14px;
  width: 550px;
  padding: 10px;
  box-shadow: yellow 7px 5px 1px;
  border: grey 1px solid;
  position: relative;
}

.button{
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 190px;
  left: 340px;
  text-align: center;
  background: black;
}


.about-1{
  margin: 30px 60px;
  padding: 10px;
  border-bottom: 0.5px white solid;
  height: 350px;
}

.about-1_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 10px auto;
  width: 80%;
  padding: 0 50px;
  border: 1px white;
  height: 200px;
}

.about-1_content{
  width: 600px;
  padding: 10px;
}

.about-1_content h1{
  font-size: 13px;
  text-transform: uppercase;
}

.about-1_content h2{
  font-size: 13px;
  margin-top: 2px;
}

.about-1_img_container{
  text-align: center;
}

.about-1_card img{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px white solid;
}


.about-2{
  margin: 30px 60px;
  padding: 10px;
  height: 350px;
  border-bottom: 0.5px white solid;
}

.about-2_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 10px auto;
  width: 80%;
  padding: 0 50px;
  height: 200px;
}

.about-2_content{
  width: 600px;
  padding: 10px;
  margin-right: 110px;
}

.about-2_content h1{
  font-size: 13px;
  text-transform: uppercase;
}

.about-2_content h2{
  font-size: 13px;
  margin-top: 2px;
}

.about-2_img_container{
  text-align: center;
}

.about-2_card img{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px white solid;
}

.about-3{
  margin: 30px 60px;
  padding: 10px;
  border-bottom: 0.5px white solid;
  height: 350px;
}

.about-3_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 10px auto;
  width: 80%;
  padding: 0 50px;
  border: 1px white;
  height: 200px;
}

.about-3_content{
  width: 600px;
  padding: 10px;
}

.about-3_content h1{
  font-size: 13px;
  text-transform: uppercase;
}

.about-3_content h2{
  font-size: 13px;
  margin-top: 2px;
}

.about-3_img_container{
  text-align: center;
}

.about-3_card img{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px white solid;
}


.leadership{
  height: 400px;
  display: flex;
  margin: 10px;
  font-size: 13px;
}

.col{
  margin: auto;
  flex-basis: 20%;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
}

.col img{
  margin-bottom: 13px;
}


.footer_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: white 0.5px solid; 
  margin-top: 100px;
  font-size: 13px;
}

.footer_links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer_link_wrapper {
  display: flex;
}

.footer_link_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 200px;
  box-sizing: border-box;
}

.footer_link_items h2 {
  margin-bottom: 15px;
}

.footer_link_items a {
  text-decoration: none;
}

.footer_link_items a:hover {
  transition: 0.3 ease-out;
}

.social{
  width: 100%;
  font-size: 13px;
}

.social_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 40px auto 0 auto;
}












